# Fictional Army - Filtering and Sorting

## Paso 1. Importar librerias necesarias

In [1]:
import numpy as np
import pandas as pd

## Paso 2. Estos son los datos dados como diccionario

In [2]:
# Create an example dataframe about a fictional army
raw_data = {'regiment': ['Nighthawks', 'Nighthawks', 'Nighthawks', 'Nighthawks', 'Dragoons', 'Dragoons', 'Dragoons', 'Dragoons', 'Scouts', 'Scouts', 'Scouts', 'Scouts'],
            'company': ['1st', '1st', '2nd', '2nd', '1st', '1st', '2nd', '2nd','1st', '1st', '2nd', '2nd'],
            'deaths': [523, 52, 25, 616, 43, 234, 523, 62, 62, 73, 37, 35],
            'battles': [5, 42, 2, 2, 4, 7, 8, 3, 4, 7, 8, 9],
            'size': [1045, 957, 1099, 1400, 1592, 1006, 987, 849, 973, 1005, 1099, 1523],
            'veterans': [1, 5, 62, 26, 73, 37, 949, 48, 48, 435, 63, 345],
            'readiness': [1, 2, 3, 3, 2, 1, 2, 3, 2, 1, 2, 3],
            'armored': [1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1],
            'deserters': [4, 24, 31, 2, 3, 4, 24, 31, 2, 3, 2, 3],
            'origin': ['Arizona', 'California', 'Texas', 'Florida', 'Maine', 'Iowa', 'Alaska', 'Washington', 'Oregon', 'Wyoming', 'Louisana', 'Georgia']}

## Paso 3. Crea un marco de datos y asígnalo a una variable llamada ejército.

##### No olvide incluir los nombres de las columnas en el orden presentado en el diccionario ('regimiento', 'compañía', 'muertes'...) para que el orden del índice de columnas sea coherente con las soluciones. Si se omite, pandas ordenará las columnas alfabéticamente.

In [16]:
ejercito = pd.DataFrame(raw_data, columns= (raw_data.keys()))

## Paso 4. Establezca la columna "origen" como índice del marco de datos

In [18]:
ejercito.set_index(keys="origin")

,regiment,company,deaths,battles,size,veterans,readiness,armored,deserters
origin,,,,,,,,,
Arizona,Nighthawks,1st,523,5,1045,1,1,1,4
California,Nighthawks,1st,52,42,957,5,2,0,24
Texas,Nighthawks,2nd,25,2,1099,62,3,1,31
Florida,Nighthawks,2nd,616,2,1400,26,3,1,2
Maine,Dragoons,1st,43,4,1592,73,2,0,3
Iowa,Dragoons,1st,234,7,1006,37,1,1,4
Alaska,Dragoons,2nd,523,8,987,949,2,0,24
Washington,Dragoons,2nd,62,3,849,48,3,1,31
Oregon,Scouts,1st,62,4,973,48,2,0,2
Wyoming,Scouts,1st,73,7,1005,435,1,0,3
Louisana,Scouts,2nd,37,8,1099,63,2,1,2
Georgia,Scouts,2nd,35,9,1523,345,3,1,3

## Paso 5. Imprima sólo los veteranos de columna

In [27]:
ejercito.veterans

0       1
1       5
2      62
3      26
4      73
5      37
6     949
7      48
8      48
9     435
10     63
11    345
Name: veterans, dtype: int64

## Paso 6. Imprimir las columnas "veteranos" y "fallecidos

In [46]:
pd.concat([ejercito.T.loc["veterans"], ejercito.T.loc["deaths"]], keys= ["veterans", "deaths"], axis = 1)

   veterans deaths
0         1    523
1         5     52
2        62     25
3        26    616
4        73     43
5        37    234
6       949    523
7        48     62
8        48     62
9       435     73
10       63     37
11      345     35

## Paso 7. Imprime el nombre de todas las columnas.

In [67]:
ejercito.columns

Index(['regiment', 'company', 'deaths', 'battles', 'size', 'veterans',
       'readiness', 'armored', 'deserters', 'origin'],
      dtype='object')

## Paso 8. Seleccionar las columnas "muertos", "tamaño" y "desertores" de Maine y Alaska.

In [72]:
ejercito.groupby("origin").aggregate(["death", "size", "desertors"])

AttributeError: 'SeriesGroupBy' object has no attribute 'death'

## Paso 9. Seleccione las filas 3 a 7 y las columnas 3 a 6

## Paso 10. Seleccione todas las filas después de la cuarta fila y todas las columnas

## Paso 11. Seleccione todas las filas hasta la 4ª fila y todas las columnas

## Paso 12. Seleccione la 3ª columna hasta la 7ª columna

## Paso 13. Seleccione las filas en las que df.deaths es mayor que 50

## Paso 14. Seleccione las filas en las que df.deaths es mayor que 500 o menor que 50

## Paso 15. Seleccione todos los regimientos que no se llamen "Dragones".

## Paso 16. Seleccione las filas denominadas Texas y Arizona

## Paso 17. Seleccione la tercera celda de la fila llamada Arizona

## Paso 18. Seleccione la tercera celda de la columna denominada muertes

## Paso 19. Guarde el dataframe en un csv